@import '../variables';

.wrapper_input {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
    width: 100%;
    max-width: 418px;


    .wrapper_for_arrow {
        position: relative;

        .input {
            width: 100%;
            border-radius: 15px;
            border: 1px solid #DFEAF2;
            padding: 16px 16px 16px 20px;
            color: $no-active-text;
        }

        .arrow {
            cursor: pointer;
            position: absolute;
            top: 18px;
            right: 25px;
            transform: rotate(45deg);
            width: 12px;
            height: 12px;
            visibility: hidden;

            &_bottom {
                visibility: visible;
                width: 100%;
                height: 100%;
                border-right: solid #718EBF;
                border-bottom: solid #718EBF;
            }
        }

    }


    .label {
        cursor: pointer;
        color: $text-black;
        font-weight: 400;
        margin-bottom: 11px;
    }

    .input {
        border-radius: 15px;
        border: 1px solid #DFEAF2;
        padding: 16px 16px 16px 20px;
        color: $no-active-text;
    }

    input[type="date"] {
        position: relative;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: auto;
        height: auto;
        color: transparent;
        background: transparent;
    }

}