@import '../variables';

.wrapper_form {
    background-color: $white;
    max-width: 1110px;
    width: 100%;
    border-radius: 25px;
}

.form {
    min-height: 717px;
    padding: 37px 30px 92px;
    position: relative;
    margin-bottom: 176px;

    &_choice {
        display: flex;
        margin-bottom: 63px;
        padding: 7px 0 7px 10px;
        position: relative;

        &_li {
            margin-right: 75px;
            font-weight: 500;
            cursor: pointer;
            position: relative;

            &:last-child {
                margin-right: 0;
            }

        }

        .active {
            transition: 0.2s ease;

            &::after {
                content: '';
                width: 114px;
                height: 3px;
                background: $blue;
                position: absolute;
                bottom: -18px;
                left: -15%;
                z-index: 100;
                border-radius: 10px 10px 0px 0px;
            }
        }

        &::after {
            content: '';
            max-width: 1050px;
            width: 100%;
            height: 1px;
            position: absolute;
            bottom: -10px;
            left: 0;
            background: #F4F5F7;
        }

    }

    form {
        display: flex;

        .profile_image {
            margin-right: 3.7857rem;

            .image {
                position: relative;

                &_edit {
                    transition: 0.2s ease;
                    cursor: pointer;
                    fill: $white;
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    bottom: 24px;
                    right: 5px;

                    &:hover {
                        transform: scale(1.1);
                        fill: $text-light;
                    }
                }

                &::before {
                    content: '';
                    width: 30px;
                    height: 30px;
                    background: $blue;
                    border-radius: 100%;
                    position: absolute;
                    bottom: 16px;
                    right: -2px;
                }

            }

        }

        .data {
            width: 100%;
            max-width: 865px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .btn {
                position: absolute;
                right: 30px;
                bottom: 30px;
                padding: 14px 74px;
                font-size: 1.2857rem;
                font-weight: 500;
                color: $white;
                background-color: $blue;
                border-radius: 15px;
            }

        }

    }

}