@import '../variables';

header {
    position: sticky;
    top: 0;
    right: 0;
    z-index: 10;
    padding: 20px 40px 20px 290px;
    background-color: $white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .header_title {
        font-size: 2rem;
        font-weight: 600;
    }

    .header_info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .icon {
            cursor: pointer;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            background: $background;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.2s ease;

            svg {
                z-index: 1;
            }

            &:hover {
                transform: scale(1.12);
                box-shadow: 0px 0px 5px $text-light;
            }

        }

        .setting {
            margin: 0 30px;
        }

        .notification {
            margin-right: 25px;
        }

    }

    .profile {
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

@media (max-width:975px) {
    header {
        padding: 25px;
        align-items: start;

        .header_info {
            flex-direction: column-reverse;
            align-items: flex-end;

            .icon {
                display: none;
            }

            .profile {
                margin-bottom: 20px;
            }

        }

    }
}