@import '../variables';

.search {
    position: relative;

    &_svg {
        cursor: pointer;
        position: absolute;
        left: 25px;
        top: 15px;
        z-index: 10;
    }

    &_input {
        font-size: 1.0714rem;
        padding: 16px 23px 16px 60px;
        background-color: $background;
        max-width: 255px;
        width: 100%;
        border-radius: 40px;

        &::placeholder {
            color: $placeholder-text;
        }
    }

}

@media (max-width:975px) {
    .search {
        &_input {
            width: 325px;
            max-width: 325px;
        }
    }
}