@import './variables';
@import './libs/normalize';
@import './fonts.scss';

@import './components/all.scss';

body {
    background-color: $background;
}

.wrapper {
    margin: 31px 0 0 289px;

    &_content {
        padding: 0 10px;
        display: flex;
        justify-content: center;
    }
}

@media (max-width:975px) {
    .wrapper {
        margin: 25px;
    }
}